.section__products__container {
    margin-top: 50px;
    padding: 40px 0;
    margin-bottom: 50px;
    text-align: center;
    padding: 40px 20px;
  }
  
  .product-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .product-card {
    background-color: #F7F8FA;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    .MuiCardMedia-root {
      object-fit: cover;
      padding: 10px;
    }
  
    .MuiCardContent-root {
      text-align: center;
    }
  }
  
  .product-button {
    margin-top: 10px;
    background-color: #56B280!important;
    color: white;
    font-weight: bold;
  
  }