.shipping-page {
  .buttons {
    .button-back-cart {
      color: #56B280;
      border: 1px solid #56B280;
      margin-right: 10px;
    }
    .button-check-commands {
      background-color: #56B280;
      color: #fff;
    }
  }

  .pagination {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      text-align: center;      
    }
    strong {
      color: #56B280;
      font-weight: 500;
    }
  }

  .container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }

  .left-section, .right-section {
    flex: 1;
    padding: 20px;
    background-color: #ededed;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-bottom: 20px;
  }

  .left-section {
    h5 {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      color: #272727;
    }

    .section-shipping-address {
      margin-top: 15px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      font-size: 15px;
      font-weight: 300;
      border-radius: 5px;
    }

    .section-title {
      @media screen and (max-width: 768px) {
        text-align: center;
        
      }
    }
    .section-subtitle {
      font-size: 15px;
      padding: 5px;
      color: #696969;
      strong {
        font-weight: 900;
        color: #5c5c5c;
        text-transform: uppercase;
      }
    }

    .section-shipping-method {
      margin-top: 15px;
      font-size: 15px;
      font-weight: 300;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      
      .method-title {
        @media screen and (max-width: 768px) {
          text-align: center;
          
        }
      }

      .section-method-subtitle {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #272727;
      }

      .method-selection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .css-13lvt8g-MuiButtonBase-root-MuiRadio-root.Mui-checked {
          color: #56B280;
        }

        &__1, &__2 {
          border: 1px solid #ccc;
          border-radius: 10px;
          padding: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .right-section {
    .order-summary-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      .css-1g05v71-MuiBadge-badge {
        background-color: #56B280;
      }

      .product-title {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
      }

      .product-price {
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        font-size: 21px;
        color: #56B280;
      }
    }

    .price-section {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #616161;
      margin-top: 50px;
      padding: 15px;
      .MuiTypography-root {
        margin-bottom: 10px;
      }
    }
  }

  .MuiTypography-h5 {
    font-weight: bold;
  }

  .order-summary-item {
    img {
      width: 150px;
      border-radius: 4px;
      background-color: #ececec;
    }
  }

  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
    }

    .left-section, .right-section {
      width: 100%;
      padding: 15px;
    }

    .left-section {
      margin-bottom: 20px;
    }

    .pagination {
      font-size: 14px;
      margin-top: 30px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      .button-back-cart {
        margin-bottom: 10px;
        width: 100%;
      }
      .button-check-commands {
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      gap: 10px;
    }

    .left-section, .right-section {
      padding: 10px;
    }

    .section-shipping-address,
    .section-subtitle,
    .section-shipping-method {
      font-size: 14px;
    }

    .section-method-subtitle {
      font-size: 18px;
    }

    .order-summary-item {
      flex-direction: column;
      align-items: flex-start;
      .product-title,
      .product-price {
        font-size: 14px;
      }

      .badge_disposition {
        position: static;
        margin-top: 10px;
      }

      img {
        width: 120px;
        margin-bottom: 10px;
      }
    }

    .price-section {
      font-size: 13px;
    }
  }

  @media (max-width: 480px) {
    .pagination {
      font-size: 12px;
      margin-top: 20px;
    }

    .buttons {
      .button-back-cart,
      .button-check-commands {
        font-size: 14px;
      }
    }

    .left-section, .right-section {
      padding: 10px;
    }

    .section-shipping-address {
      font-size: 13px;
    }

    .section-method-subtitle {
      font-size: 16px;
    }

    .order-summary-item {
      img {
        width: 100px;
      }

      .product-title,
      .product-price {
        font-size: 13px;
      }
    }

    .price-section {
      font-size: 12px;
    }
  }
}
