.section__hero {
    background-image: url("../../../assets/hero_section.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .hero__container {
      max-width: 600px;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 40px;
      border-radius: 8px;
    }
  }
  