.section__products {
    margin-top: 50px;
    padding: 40px 0;
    margin-bottom: 50px;

    .title {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
  
    .subtitle {
        text-align: center;
        margin-bottom: 30px;
    }
  
    .products__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center; 
    }
  
    .product__link {
        text-decoration: none;
    }
  
    .product__card {
        background-color: #F7F8FA;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
  
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
  
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
  
      h6 {
        margin-top: 10px;
        font-weight: bold;
      }
  
      .MuiTypography-body1 {
        margin-top: 5px;
        font-size: 1rem;
        color: #333;
      }
    }
  }
  